body {
  background-color: #f5f7fb;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  width: 50%;
  position: relative;
  left: 25%;
}

.container {
  width: 75%;
  height: 50%;
  position: relative;
  left: 12.5%;
  margin-top: 5%;
}

.leftContainer {
  width: 45%;
  display: inline-block;
  margin-right: 5%;
}

.rightContainer {
  width: 45%;
  display: inline-block;
  margin-left: 5%;
  position: absolute;
}

img {
  width: 100%;
}

footer {
  height: 50px;
  width: 79em;
  background-color: #ea7f3b;
  text-align: center;
  position: relative;
}

footer > p {
  padding-top: 1.2%;
}

.formContainer {
  background-color: #f5f7fb;
  width: 50%;
  position: relative;
  left: 25%;
}

.firstName {
  display: inline-block;
  width: 11em;
  margin-right: 2em;
}

.lastName {
  display: inline-block;
}

.nameTitle {
  display: inline-block;
  margin-right: 1em;
}

.phoneNo {
  display: inline-block;
  margin-right: 1em;
}

.password {
  margin-right: 1em;
  display: inline-block;
}

.confPassword {
  display: inline-block;
}

.country {
  display: inline-block;
}

.submitButton {
  margin-top: 1em;
}

input {
  border: 0px;
  height: 2em;
}

.submitButton > button {
  border: 0px;
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  background-color: #5da4ff;
}
button:hover {
  background-color: #64f8ff;
}
